					<!-- Content -->
						<div class="8u skel-cell-important">
							<section id="content">
								<header>
									<h2>IPTV, Football, Sports and Movies</h2>
									<span class="byline">We provide IPTV streams and points to stream lists in the Internet for watching online TV, lot of sport streams many of them in HD and tons of movies</span>
								</header>
								{{ content }}
								<a href="//super-pomoyka.us.to/trash/ttv-list" class="button">Read More</a>
							</section>
						</div>
					<!-- /Content -->