					<div class="3u">
						<center><section>
							<a href="//uefa.com/uefachampionsleague" rel="nofollow"><span><img src="/images/uefachampionleague.png" style="vertical-align:-24px;" height="200px"></span></a>
							<p style="font-weight:900;">UEFA</p>
							<p>Route de Genève 46</p>
							<p>Case postale</p>
							<p>CH-1260 Nyon 2</p>
							<p>Switzerland</p>
							<p><a href="//www.uefa.com/community/feedback/index.html" rel="nofollow">Internet Contact Form</a></p>
							<a href="//uefa.com/uefachampionsleague" rel="nofollow" class="button">Read More</a>
						</section></center>
					</div>
					