					<div class="3u">
						<center><section>
							<a href="//uefa.com/uefaeuropaleague" rel="nofollow"><span><img src="/images/uefaeuropaleague.png" height="200px"></span></a>
							<p style="font-weight:900;">UEFA</p>
							<p>Tel: +41 (0) 848 00 2727</p>
							<p>Web: <a href="//uefa.com" rel="nofollow">UEFA.com</a>; <a href="//uefa.org" rel="nofollow">UEFA.org</a></p>
							<p>Media desk: Tel: +41 (0) 848 04 2727</p>
							<a href="//http://uefa.com/uefaeuropaleague" rel="nofollow" class="button">Read More</a>
						</section></center>
					</div>