					<div class="3u">
						<center><section>
							<a href="//conmebol.com/es/copa-sudamericana-2017" rel="nofollow"><span><img src="/images/copasudamericana.png" style="vertical-align:-14px;" height="180px"></span></a><br>
							<p style="font-weight:900;">CONMEBOL</p>
							<p><a href="http://www.conmebol.com/contact/prensa" rel="nofollow">Internet Contact Form</a></p>
							<p>Web: <a href="//www.conmebol.com" rel="nofollow">CONMEBOL.com</a></p>
							<p>Tel: +595 21 645781 RA</p>
							<p>Fax: +595 21 645792</p>
							<a href="//conmebol.com/es/copa-sudamericana-2017" rel="nofollow" class="button">Read More</a>
						</section></center>
					</div>