	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<ul class="style1">
								<li>
									<div width="78" height="78">
										<table>
											<tbody>
												<tr>
													<td width="21" background="images/12421152032.png" height="13"></td>
													<td background="images/55452124552.png" height="13"></td>
													<td width="21" background="images/45454787.png" height="13"></td>
												</tr>

												<tr>
													<td width="21" background="images/21210212120.png"></td>
													<td>
														<div id="media">
															<script type="text/javascript">
																<!--//--><![CDATA[// ><!--

																function init() {
																	var useInternalControls = true;
    
																	var controls = new TorrentStream.Controls("tsplayer", {
																		style: useInternalControls ? "internal" : "ts-black",
																		debug: true
																	});
    
																	try {
																		var player = new TorrentStream.Player(controls.getPluginContainer(), {
																			debug: true,
																			useInternalControls: useInternalControls,
																			bgColor: "#000000",
																			fontColor: "#ffffff",
																			onLoad: function() {
																				this.registerEventHandler(controls);
																				controls.attachPlayer(this);
																				try {
																					var p = this;
																					this.loadPlayer("47f41e4564dbfa399ddcbd69a268ef0e9621c959", {autoplay: false});
																				}
																				catch(e) {
																					console.log("init: " + e);
																				}
																			}
																		});
																	}
																	catch(e) {
																		controls.onSystemMessage(e);
																	}
																} 

																//--><!]]>
															</script>
															<div id="aceplayer">
																<object id="plugin" classid="clsid:79690976-ED6E-403c-BBBA-F8928B5EDE17">
																	<param name="width" value="800px" />
																	<param name="height" value="450px" />
																	<param name="fullscreencontrols" value="true" />
																	<param name="fscontrolsenable" value="true" />
																	<param name="fscontrols" value="default" />
																	<param name="nofscontrolsenable" value="true" />
																	<param name="nofscontrols" value="default" />
																	<param name="nofscontrolsheight" value="36" />
																	<param name="loopable" value="false" /> 
																	<param name="autoplay" value="false" />
																</object>
		
																<script type="text/javascript">
																	var plugin = document.getElementById("plugin");
																	// load by the content id
																	plugin.playlistLoadAsyncPlayer("47f41e4564dbfa399ddcbd69a268ef0e9621c959");
																</script>
															</div>
														</div>
														
													<!-- End div id media -->
								
													</td>
													<td width="21" background="images/203233451.png"></td>
												</tr>
												<tr>
													<td width="21" background="images/23121542.png" height="17"></td>
													<td background="images/12345456.png" height="17"></td>
													<td width="21" background="images/2656564.png" height="25"></td>
												</tr>

											</tbody>
										</table>
										<p>Match! TB HD</p>
										<!--<p class="posted">Rusian sport channel: Match! HD</p>-->
									</div>
								</li>
								
								<li>
									<div>
										<table>
											<tbody>
												<tr>
													<td width="21" background="images/12421152032.png" height="13"></td>
													<td background="images/55452124552.png" height="13"></td>
													<td width="21" background="images/45454787.png" height="13"></td>
												</tr>

												<tr>
													<td width="21" background="images/21210212120.png"></td>
													<td>
														<div id="media">
															<script type="text/javascript">
																<!--//--><![CDATA[// ><!--

																function init() {
																	var useInternalControls = true;
    
																	var controls = new TorrentStream.Controls("tsplayer", {
																		style: useInternalControls ? "internal" : "ts-black",
																		debug: true
																	});
    
																	try {
																		var player = new TorrentStream.Player(controls.getPluginContainer(), {
																			debug: true,
																			useInternalControls: useInternalControls,
																			bgColor: "#000000",
																			fontColor: "#ffffff",
																			onLoad: function() {
																				this.registerEventHandler(controls);
																				controls.attachPlayer(this);
																				try {
																					var p = this;
																					this.loadPlayer("694b25fe6c7343e0d7544ff1496f8d33eed4eb65", {autoplay: false});
																				}
																				catch(e) {
																					console.log("init: " + e);
																				}
																			}
																		});
																	}
																	catch(e) {
																		controls.onSystemMessage(e);
																	}
																} 

																//--><!&pro;]]>
															</script>
															<div id="aceplayer">
																<object id="plugin" classid="clsid:79690976-ED6E-403c-BBBA-F8928B5EDE17">
																	<param name="width" value="800px" />
																	<param name="height" value="450px" />
																	<param name="fullscreencontrols" value="true" />
																	<param name="fscontrolsenable" value="true" />
																	<param name="fscontrols" value="default" />
																	<param name="nofscontrolsenable" value="true" />
																	<param name="nofscontrols" value="default" />
																	<param name="nofscontrolsheight" value="36" />
																	<param name="loopable" value="false" /> 
																	<param name="autoplay" value="false" />
																</object>
		
																<script type="text/javascript">
																	var plugin = document.getElementById("plugin");
																	// load by the content id
																	plugin.playlistLoadAsyncPlayer("694b25fe6c7343e0d7544ff1496f8d33eed4eb65");
																</script>
															</div>
														</div>
														
													<!-- End div id media -->
								
													</td>
													<td width="21" background="images/203233451.png"></td>
												</tr>
												<tr>
													<td width="21" background="images/23121542.png" height="17"></td>
													<td background="images/12345456.png" height="17"></td>
													<td width="21" background="images/2656564.png" height="25"></td>
												</tr>

											</tbody>
										</table>
										<p>Match! Igra HD</p>
										<!--<p class="posted">Rusian sport channel: Match! Igra HD</p></div>-->
									</div>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<ul class="style1">
								<li>
									<div>
										<table>
											<tbody>
												<tr>
													<td width="21" background="images/12421152032.png" height="13"></td>
													<td background="images/55452124552.png" height="13"></td>
													<td width="21" background="images/45454787.png" height="13"></td>
												</tr>

												<tr>
													<td width="21" background="images/21210212120.png"></td>
													<td>
														<div id="media">
															<script type="text/javascript">
																<!--//--><![CDATA[// ><!--

																function init() {
																	var useInternalControls = true;
    
																	var controls = new TorrentStream.Controls("tsplayer", {
																		style: useInternalControls ? "internal" : "ts-black",
																		debug: true
																	});
    
																	try {
																		var player = new TorrentStream.Player(controls.getPluginContainer(), {
																			debug: true,
																			useInternalControls: useInternalControls,
																			bgColor: "#000000",
																			fontColor: "#ffffff",
																			onLoad: function() {
																				this.registerEventHandler(controls);
																				controls.attachPlayer(this);
																				try {
																					var p = this;
																					this.loadPlayer("fe6e2cd969c0329fb59864ee5d438cb001dd87eb", {autoplay: false});
																				}
																				catch(e) {
																					console.log("init: " + e);
																				}
																			}
																		});
																	}
																	catch(e) {
																		controls.onSystemMessage(e);
																	}
																} 

																//--><!&pro;]]>
															</script>
															<div id="aceplayer">
																<object id="plugin" classid="clsid:79690976-ED6E-403c-BBBA-F8928B5EDE17">
																	<param name="width" value="800px" />
																	<param name="height" value="450px" />
																	<param name="fullscreencontrols" value="true" />
																	<param name="fscontrolsenable" value="true" />
																	<param name="fscontrols" value="default" />
																	<param name="nofscontrolsenable" value="true" />
																	<param name="nofscontrols" value="default" />
																	<param name="nofscontrolsheight" value="36" />
																	<param name="loopable" value="false" /> 
																	<param name="autoplay" value="false" />
																</object>
		
																<script type="text/javascript">
																	var plugin = document.getElementById("plugin");
																	// load by the content id
																	plugin.playlistLoadAsyncPlayer("fe6e2cd969c0329fb59864ee5d438cb001dd87eb");
																</script>
															</div>
														</div>
														
													<!-- End div id media -->
								
													</td>
													<td width="21" background="images/203233451.png"></td>
												</tr>
												<tr>
													<td width="21" background="images/23121542.png" height="17"></td>
													<td background="images/12345456.png" height="17"></td>
													<td width="21" background="images/2656564.png" height="25"></td>
												</tr>

											</tbody>
										</table>
										<p>Match! Arena HD</p>
										<!--<p class="posted">Rusian sport channel: Match! Arena HD</p></div>-->
									</div>
								</li>
								<li>
									<div>
										<table>
											<tbody>
												<tr>
													<td width="21" background="images/12421152032.png" height="13"></td>
													<td background="images/55452124552.png" height="13"></td>
													<td width="21" background="images/45454787.png" height="13"></td>
												</tr>

												<tr>
													<td width="21" background="images/21210212120.png"></td>
													<td>
														<div id="media">
															<script type="text/javascript">
																<!--//--><![CDATA[// ><!--

																function init() {
																	var useInternalControls = true;
    
																	var controls = new TorrentStream.Controls("tsplayer", {
																		style: useInternalControls ? "internal" : "ts-black",
																		debug: true
																	});
    
																	try {
																		var player = new TorrentStream.Player(controls.getPluginContainer(), {
																			debug: true,
																			useInternalControls: useInternalControls,
																			bgColor: "#000000",
																			fontColor: "#ffffff",
																			onLoad: function() {
																				this.registerEventHandler(controls);
																				controls.attachPlayer(this);
																				try {
																					var p = this;
																					this.loadPlayer("58cf46f06d43086b33e56022a6691e844dc36835", {autoplay: false});
																				}
																				catch(e) {
																					console.log("init: " + e);
																				}
																			}
																		});
																	}
																	catch(e) {
																		controls.onSystemMessage(e);
																	}
																} 

																//--><!&pro;]]>
															</script>
															<div id="aceplayer">
																<object id="plugin" classid="clsid:79690976-ED6E-403c-BBBA-F8928B5EDE17">
																	<param name="width" value="800px" />
																	<param name="height" value="450px" />
																	<param name="fullscreencontrols" value="true" />
																	<param name="fscontrolsenable" value="true" />
																	<param name="fscontrols" value="default" />
																	<param name="nofscontrolsenable" value="true" />
																	<param name="nofscontrols" value="default" />
																	<param name="nofscontrolsheight" value="36" />
																	<param name="loopable" value="false" /> 
																	<param name="autoplay" value="false" />
																</object>
		
																<script type="text/javascript">
																	var plugin = document.getElementById("plugin");
																	// load by the content id
																	plugin.playlistLoadAsyncPlayer("58cf46f06d43086b33e56022a6691e844dc36835");
																</script>
															</div>
														</div>
														
													<!-- End div id media -->
								
													</td>
													<td width="21" background="images/203233451.png"></td>
												</tr>
												<tr>
													<td width="21" background="images/23121542.png" height="17"></td>
													<td background="images/12345456.png" height="17"></td>
													<td width="21" background="images/2656564.png" height="25"></td>
												</tr>

											</tbody>
										</table>
										<p>Eurosport RU 1 HD</p>
										<!--<p class="posted">Rusian Eurosport 1 HD</p></div>-->
									</div>
								</li>
								<!--<li><img src="images/pics10.jpg" width="78" height="78" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
									<p class="posted">August 11, 2014  |  (10 )  Comments</p>
								</li>-->
							</ul>
						</section>				
					</div>
					<div class="3u">
						<section>
							
							<ul class="default" style="text-decoration:none;">
								<li><a href="//uefa.com/uefachampionsleague" rel="nofollow"><span style="font-weight:900;text-decoration: none;">Champions League</span></a></li>
								<li><a href="//uefa.com/uefaeuropaleague" rel="nofollow"><span style="font-weight:900;">Liga Europa</span></a></li>
								<li><a href="//conmebol.com/copa-libertadores-2017" rel="nofollow"><span style="font-weight:900;">Copa Libertadores</span></a></li>
								<li><a href="//conmebol.com/copa-sudamericana-2017" rel="nofollow"><span style="font-weight:900;">Copa Sudamericana</span></a></li>
								<li><a href="//www.laliga.es" rel="nofollow"><span style="font-weight:900;">La Liga</span></a></li>
								<li><a href="//www.legaseriea.it/it" rel="no-follow"><span style="font-weight:900;">Serie A</span></a></li>
								<li><a href="//www.eredivisie.nl" rel="nofollow"><span style="font-weight:900;">Eredivisie</span></a></li>
								<li><a href="//www.premierleague.com/#!" rel="nofollow"><span style="font-weight:900;">Premier Legue</span></a></li>
								<li><a href="//www.legaseriea.it/it" rel="nofollow"><span style="font-weight:900;">Allsvenskan</span></a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<ul class="default">
								<li><a href="//uefa.com/uefachampionsleague" rel="nofollow"><span style="font-weight:900;">Ekstraklasa</span></a></li>
								<li><a href="//www.bundesliga.com/en/" rel="nofollow"><span style="font-weight:900;">Bundesliga</span></a></li>
								<li><a href="//www.ligue1.com" rel="nofollow"><span style="font-weight:900;">Ligue 1</span></a></li>
								<li><a href="//www.fifa.com/worldcup/preliminaries/asia/index.html" rel="nofollow"><span style="font-weight:900;">FIFA WC 2018 QT (Asia)</span></a></li>
								<li><a href="//www.fifa.com/worldcup/preliminaries/oceania/index.html" rel="nofollow"><span style="font-weight:900;">FIFA WC 2018 QT (Oceania)</span></a></li>
								<li><a href="//www.fifa.com/worldcup/preliminaries/africa/all-matches.html" rel="nofollow"><span style="font-weight:900;">FIFA WC 2018 QT (Africa)</span></a></li>
								<li><a href="//www.fifa.com/worldcup/preliminaries/europe/index.html" rel="nofollow"><span style="font-weight:900;">FIFA WC 2018 QT (Europa)</span></a></li>
								<li><a href="//www.fifa.com/worldcup/preliminaries/southamerica/index.html" rel="nofollow"><span style="font-weight:900;">FIFA WC 2018 QT (Sudamerica)</span></a></li>
								<li><a href="//www.fifa.com/worldcup/preliminaries/nccamerica/index.html" rel="nofollow"><span style="font-weight:900;">FIFA WC2018 QT (CONCACAF)</span></a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
	<!-- Footer -->