	<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<center><table><tbody><tr><td style="vertical-align:-20;"><img src="favicon.png" style="margin-bottom:-30px;margin-right:40px;" width="120"></td><td><h1><a href="#">IPTV & Movies</a></h1></td><tr></tbody></table></center>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="active"><a href="index.html"><span style="font-weight:900;">Homepage</span></a></li>
							<li><a href="/matchtb.html"><span style="font-weight:900;">Match!</span></a></li>
							<li><a href="/football-livescore.html"><span style="font-weight:900;">Live Score</span></a></li>
							<li><a href="/about.html"><span style="font-weight:900;">About Us</span></a></li>
							<!--<li><a href="onecolumn.html"><span style="font-weight:900;">No Sidebar</span></a></li>-->
						</ul>
					</nav>

			</div>
		</div>
	<!-- Header -->