					<!-- Content -->
					<style>
						.border { border-width: 5px; border-color: #8ce092; border-style: solid; }
					</style>
						<div id="content" class="8u skel-cell-important">
							<section>
								<header>
									<h2>Rusian sport channels</h2>
									<span class="byline">Most of the streams are in HD</span>
								</header>
								<p><a href="#" class="image full"><img src="images/pics02.jpg" alt=""></a></p>
								<p>Sports, sport live sending, world sport, online TV, live sending, world sport coverage, live footbol, live basketball, live F1, live tenis, live wrestling, live races, online sport, match!, online channels.</p>
								<header>
									<h2><span style="background-color:#cb9292;color:#fff;margin-top:-10px;">!Important</span></h2>
								</header>
								<p>To see the player you need Internet Explorer and the <a href="acestream.org" rel="nofollow">acestream</a> player installed on your computer. We apologize but Firefox and Google Chrome doesen't work anymore with this extension.</p>
								<p><img
								{{ content }}
								<p><a href="images/guide1playlist.jpg" class="image full"><img src="images/guide1playlist.jpg" width="792" alt="guide picture"></a></p>
								<p><a href="images/guide2playlist.jpg" class="image full"><img src="images/guide2playlist.jpg" width="792" alt="guide picture"></a></p>
							</section>
						</div>
					<!-- /Content -->