					<!-- Sidebar -->
						<div id="sidebar" class="4u">
							<section>
								<header>
									<h3>Optimized for these browsers:</h3>
									<span class="byline"><img src="images/ieicon.png" width="25px"></span>
								</header>
								<!--<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Maecenas luctus lectus at sapien. Consectetuer adipiscing elit.</p>-->
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								<nav id="nav">
									<center>
										<ul class="default">
											<li><a href="/matchtb.html"><span><img src="images/Match!.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/matchplaneta.html"><span><img src="images/Match!Planeta-HD.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/matcharena.html"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/matchigra.html"><span><img src="images/Match.DRABNINGEN.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/matchnashsport.html"><span><img src="images/Match.E-SPORT.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/eurosportru1.html"><span><img src="images/Eurosport1.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/eurosportru2.html"><span><img src="images/Eurosport2.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/futbolua1.html"><span><img src="images/FùtbolUA-1HD.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="futbolua2.html"><span><img src="images/FùtbolUA-2HD.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/sportua1.html"><span><img src="images/sport.ukrania-1.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/sportua2.html"><span><img src="images/sport.ukrania-2.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/khltb.html"><span><img src="images/khl.TB.png" height="40px" style="margin-right:10px;"></span></a></li>
											<li><a href="/idman.html"><span><img src="images/iDMAN.Sport.png" height="40px" style="margin-right:10px;"></span></a></li>
											<li><a href="/matchfutbol1.html"><span><img src="images/Match.FUTBOL-1.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/matchfutbol2.html"><span><img src="images/Match!Fùtbol-2HD.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/matchfutbol3.html"><span><img src="images/Match!Fùtbol-3HD.png" height="25px" style="margin-right:10px;"></span></a></li>
											<li><a href="/telekanalfutbol.html"><span><img src="images/TelekanalFùtbol-HD.jpg" height="25px" style="margin-right:10px;"></span></a></li>
										</ul>
									</center>
								</nav>
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								<nav id="nav">
									<center>
										<ul class="default">
											<li><p><iframe src="http://widget.tvmatchen.nu/5981d12179f82?heading=TV-matcher&border_color=blue&autoscroll=1" frameborder="0" style="width: 300px; height: 400px; border: none;"></iframe></p></li>
										</ul>
									</center>
								</nav>
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								<nav id="nav">
									<center>
										<ul class="default">
											<li><p><object  width='300' height='400' id='flashWorldLeagues' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
												<param name='movie' value='http://www.fifa.com/flash/widgets/worldmatchcentre/app.swf?leagueCode=arg&lang=e'/>
												<param name='bgcolor' value='#ffffff'/>
												<param name='quality' value='high'/>
												<param name='wmode' value='transparent'/>
												<param name='flashvars' value='lang=e&leagueCode=arg'>
												<embed width='300' height='400' flashvars='lang=e&amp;leagueCode=arg' wmode='transparent' quality='high' bgcolor='#ffffff' name='flashWorldLeagues' id='flashWorldLeagues' src=http://www.fifa.com/flash/widgets/worldmatchcentre/app.swf?leagueCode=arg&lang=e type='application/x-shockwave-flash'/>
											</object></p>
										</ul>
									</center>
								</nav>
							</section>
						</div>
					<!-- Sidebar -->