					<!-- Sidebar -->
					<style>
						.border { border-width: 5px; border-color: #8ce092; border-style: solid; }
					</style>
						<div id="sidebar" class="4u">
							<section>
								<!--<header>
									<h3>Optimized for these browsers:</h3>
									<span class="byline"><img src="images/ieicon.png" width="25px"></span>
								</header>-->
								<!--<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Maecenas luctus lectus at sapien. Consectetuer adipiscing elit.</p>-->
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								<nav id="nav">
									<center>
										<ul class="default">
											<center><li><a href="/matchtb.html"><span><img src="images/Match!.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/matchplaneta.html"><span><img src="images/Match!Planeta-HD.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/matcharena.html"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/matchigra.html"><span><img src="images/Match.DRABNINGEN.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/matchnashsport.html"><span><img src="images/Match.E-SPORT.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/eurosportru1.html"><span><img src="images/Eurosport1.png" height="25px" style="margin-right:10px;"></span></a></li></center>>
											<center><li><a href="/eurosportru2.html"><span><img src="images/Eurosport2.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/futbolua1.html"><span><img src="images/FùtbolUA-1HD.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="futbolua2.html"><span><img src="images/FùtbolUA-2HD.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/sportua1.html"><span><img src="images/sport.ukrania-1.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/sportua2.html"><span><img src="images/sport.ukrania-2.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/khltb.html"><span><img src="images/khl.TB.png" height="40px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/idman.html"><span><img src="images/iDMAN.Sport.png" height="40px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/matchfutbol1.html"><span><img src="images/Match.FUTBOL-1.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/matchfutbol2.html"><span><img src="images/Match!Fùtbol-2HD.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/matchfutbol3.html"><span><img src="images/Match!Fùtbol-3HD.png" height="25px" style="margin-right:10px;"></span></a></li></center>
											<center><li><a href="/telekanalfutbol.html"><span><img src="images/TelekanalFùtbol-HD.jpg" height="25px" style="margin-right:10px;"></span></a></li></center>
										</ul>
									</center>
								</nav>
								<p style="margin-top:25;"><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								<br>
								<center><strong><span style="font-size:1.5em;color:#fff;background-color:#000;">SIDEBAR LIVE SCORE</span></strong></center>
								<script src="http://www.btfscores.com/widgets/widget-side.min.js" async></script>
								<center><div id="sidebar-soccer-goal" style="width:250px;margin-top:25px;" ></div></center>
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								<br>
								<center><a href="/football-livescore.html"><img src="/images/football-livescore.png" class="border" width="250px" style="margin-bottom:15px;"></a></center>
								<center><a href="/tennis-livescore.html"><img src="/images/tennis-livescore.png" class="border" width="250px" style="margin-bottom:15px;"></a></center>
								<center><a href="/basketball-livescore.html"><img src="/images/basketball-livescore.jpg" class="border" width="250px" style="margin-bottom:15px;"></a></center>
								<center><a href="/hockey-livescore.html"><img src="/images/hockey-livescore.png" class="border" width="250px" style="margin-bottom:15px;"></a></center>
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
							</section>
						</div>
					<!-- Sidebar -->